Django02/lib/
Django02/Scripts/
Django01/lib/
Django01/gamesapi/games/__pycache__/
Django01/bin/
Django02/bin/
Django01/gamesapi/gamesapi/__pycache__/
Django02/gamesapi/games/__pycache__/
Django02/gamesapi/games/migrations/__pycache__/
Django02/gamesapi/gamesapi/__pycache__/
Django02/.DS_Store
Django01/pyvenv.cfg
Django01/.DS_Store
.vscode/settings.json
Django01/Scripts/
Django02/pyvenv.cfg
Django00/
Django01/gamesapi/games/migrations/__pycache__/
